:root {
    --texto-claro: #FFFFFF; /* Blanco */
    --gris-claro: #E0E0E0; /* Gris claro */
    --azul-pastel: #AEC6CF; /* Azul pastel */
    --rosa-pastel: #F7C8DA; /* Rosa pastel */
    --verde-pastel: #B0E57C; /* Verde pastel */
  
    --fondo-azul-pastel: #B3CDE0; /* Azul pastel suave */
    --fondo-lavanda-pastel: #E3D1F4; /* Lavanda pastel */
    --fondo-rosa-pastel: #F9D5D3; /* Rosa pastel suave */
    --fondo-menta-pastel: #C8E6C9; /* Menta pastel */
    --fondo-amarillo-pastel: #FFF9B1; /* Amarillo pastel */
  }

html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: 1fr 1.5fr ;
    width: 100%;
    min-height: 100vh;
    padding: 0;
}



/* header */
header {
    background-image: url(../IMG/header-backgroud.jpg);
    grid-template-areas: "info"
    "nombre"
    ".";
    grid-template-rows: 1fr 1fr 4fr;
    background-position: center;
    background-size: cover;
    position: relative;
    display: grid;
    align-content: center;
    border-bottom: 2px solid #edc;

}
    header::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #0004;
        z-index: 2;
    }
    #wrap-informacion,#wrap-foto-perfil, #wrap-foto-perfil img,#wrap-nombre{
        z-index: 3;
    }
    #wrap-foto-perfil {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid #edc;
        position: absolute;
        bottom: -80px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #wrap-foto-perfil img {
        width: 100%;
        height: 100%;
    }
    #wrap-informacion{
        display: grid;
        align-items: center;
        justify-content: flex-end;
        gap: 1em;
        grid-template-areas: ". edad nacionalidad correo";
    }
    #wrap-informacion span{
        color: var(--texto-claro);
    }
    #wrap-nombre {
        width: 40%;
        height: 20%;
        min-width: 300px;
        margin: auto;
        text-align: center;
        position: relative;
        grid-area: nombre;
    }
    h2 {
        color: var(--texto-claro);
        font-size: 2em;
    }
    h1 {
        color: var(--rosa-pastel);
        font-size: 1.5em;
    }
article {
    padding-top: 100px;
    background-color: var(--fondo-rosa-pastel);
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
}
    #wrap-info{
        width: 60%;
    }
    article section {
        width: 90%;
        min-height: 80%;
        border: 5px double #000;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-flow: row;
        gap: 5px;
    }
    .wrap-cajas-descriptivas {
        width: 100%;
        height: 100%;
        min-width: 200px;
        position: relative;
        background: var(--azul-pastel);
        padding: 1em;
    }
    .wrap-cajas-descriptivas span {
        display: block;
        background-color: #000;
        color: var(--texto-claro);
        width: 100px;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: -10px;
        left: 0px;
        right: 0px;
        margin: auto;
    }
    .wrap-cajas-descriptivas ul{
        list-style: none;
        display: grid;
        align-content: center;
        gap: 10px;
    }

    

